contourpy
cycler
-e .
fonttools
kiwisolver
matplotlib
networkx
numpy
packaging
pandas
pathlib
Pillow
plotly
pyparsing
pytest
python-dateutil
pytz
scipy
six
scikit-learn
setuptools
statsmodels
tenacity
tzdata
